.root {
}

#main-panel {
	
	-fx-hgap: 10;
	-fx-vgap: 10;
	
	-fx-background-color: #CCCCCC;
}

#notification-slider {
	
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #000000;
	
	-fx-background-color: #FFFFFF;
//	-fx-background-color: #FF0000;
}

#queue-list {
	
	-fx-padding: 3;
	-fx-spacing: 2;
	
	-fx-border-width: 1 1 0 0;
	-fx-border-color: #000000;
	
	-fx-background-color: #FFFFFF;
	//-fx-background-color: #0000FF;
}

#question-list {
	
	-fx-padding: 3;
	-fx-spacing: 2;
	
	-fx-border-width: 1 0 0 1;
	-fx-border-color: #000000;
	
	-fx-background-color: #FFFFFF;
//	-fx-background-color: #00FF00;
}

#listview {
	
	.list-view .scroll-bar:horizontal .increment-arrow,
	.list-view .scroll-bar:horizontal .decrement-arrow,
	.list-view .scroll-bar:horizontal .increment-button,
	.list-view .scroll-bar:horizontal .decrement-button {
		-fx-padding:0;
	}

-fx-opacity: 0;
    -fx-padding:-7;

}

/*
 * The question panels
 */

#question-panel {
	-fx-font-family: 'calibri';
//	-fx-grid-lines-visible: true;
}

#question-panel .title {
	-fx-font-size: 20;
	
	-fx-padding: 5 5 5 5; 
	
	-fx-alignment: center-left;
	
	-fx-background-color: #FFFFFF;
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #000000;
}

#question-panel .answerAmount {
	-fx-font-size: 30;
	
	-fx-background-color: #FFFFFF;
 	-fx-border-width: 1 1 0 1;
	-fx-border-color: #000000;
}

#question-panel .answerText {
	-fx-font-size: 16;
	
	-fx-background-color: #FFFFFF;
	
	-fx-border-width: 0 1 1 1;
	-fx-border-color: #000000;
}

#question-panel .bottom-right {
	
	-fx-padding: 5 5 5 5; 
	
	-fx-background-color: #FFFFFF;
	
	-fx-border-width: 0 1 1 1;
	-fx-border-color: #000000;
	
}

#question-panel .tags {
	
	-fx-text-alignment: left;
}

#question-panel .user {
	
	-fx-text-alignment: right;
}

#tags-panel {
	
	-fx-hgap: 4;
	-fx-vgap: 4;
	
	-fx-orientation: horizontal;
}

#tags-panel .tag {
	
	-fx-font-size: 14;
	
	-fx-padding: 2 6 2 6;	
	-fx-background-color: #CCDDFF;
}